---
import Layout from '../../layouts/Layout.astro';
import Navbar from '../../components/Navbar.astro';
import Footer from '../../components/Footer.astro';
import SpaceCreator from '../../components/SpaceCreator';
---
<Layout title="Create Space · my'G Space Studio">
	<main>
		<Navbar currentPage="/create-space" />

		<SpaceCreator client:only="react" />

		<Footer />
	</main>
</Layout>
